.clear {clear:both;}
.s_red {color:red; vertical-align: middle;}
#section .container .border_container { position:relative; padding-left:10px; padding-right:10px; margin-bottom:69px;}
#section .container .border_container .board_list a, #section .container .border_container .board_write_btn a { cursor:pointer;}
#section .container .border_container .morebox { margin-top:98px;}
#section .container .border_container .board_list{
	margin:0 auto;
	text-align: center;
	padding-top:49px;
	font-size:12px;
}

#section .container .border_container .board_list td { vertical-align:middle; } 
#section .container .border_container .board_list .thumb {padding:4px;}
#section .container .border_container .board_list .thumb a{display: inline-block;}
#section .container .border_container .board_list .thumb a img{
	width:100%;
	max-width:46px;
	border: none;
    vertical-align: top;
}
#section .container .border_container .board_list .subject img {vertical-align:baseline;}

#section .container .border_container .board_write_btn {
	position:absolute; bottom:0; right:0;
	padding: 10px;
	padding-bottom:0px;
	margin-bottom:0px;  
    text-align: right;
}
#section .container .border_container .board_write_btn a{
	display: block;
    width: 107px;
    height: 40px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: #777;
	
}
#section .container .border_container .board_write_btn a span{
	font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

@media screen and (max-width:1080px ) {
    #section .container .border_container .morebox{ margin:0px; margin-top:40px;}
	#section .container .border_container .board_list { padding-top: 40px;}
} 
@media screen and (max-width:576px) {	
	    #section .container .border_container .morebox{ margin-top:0px;}

}

@media screen and (max-width:768px ) {
	#section .container .border_container .board_write_btn, #section .container .border_container .board_write_btn a { width:100%;}
	#section .container .border_container .board_pagination {padding-bottom:58px;}
	#section .container .border_container .board_list td { padding: .2rem;}
	#section .container .border_container .board_list .wdate {font-size:11px}
	
}
