.hideselet{ display:none!important;}
.clear {clear:both;}
.s_red {color:red; vertical-align: middle;}
.ml {margin-right: 4px!important;}
#section .container .bwrite_container { position:relative; padding-left:10px; padding-right:10px; margin-bottom:69px;}
#section .container .bwrite_container .board_form a, #section .container .bwrite_container .board_write_btn a { cursor:pointer;}
#section .container .bwrite_container .morebox { margin-top:98px;}
#section .container .bwrite_container .board_form{
	margin:0 auto;
	text-align: center;
	padding-top:49px;
	font-size:12px;
}
#section .container .bwrite_container .board_form .prdSelect{
	overflow: hidden;
    margin: 0 0 20px;
    padding: 10px;
    border: 5px solid #e8e8e8;
	text-align: left;	
}
#section .container .bwrite_container .board_form .prdSelect p { margin-bottom:0px;}
#section .container .bwrite_container .board_form .prdSelect a{
	float:left;
	display: block;
    width: 107px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    background: #fff;
	padding:4px;
	border: 1px solid #e8e8e8;	
}
#section .container .bwrite_container .board_form .prdSelect a span{
	font-size: 12px;
    text-align: center;
	font-weight:bold;
}
#section .container .bwrite_container .board_form .prdSelect .item_script {
	margin-top: 26px;
	font-size:1.3em;
	font-weight:bold;
	
}


#section .container .bwrite_container .board_form .board_table {
	border: 1px solid #ebebeb;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: keep-all;
	text-align: left;
	margin-top:10px;
}
#section .container .bwrite_container .board_form .board_table th{
	border-color: #ebebeb;
	width: 110px;
    padding: 10px 0px 8px 20px;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background-color: #fbfafa;
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
	
}
#section .container .bwrite_container .board_form .board_table td {
	width: auto; 
    padding: 10px 10px 8px 10px;
    border-top: 1px solid #e8e8e8;
}
#section .container .bwrite_container .board_form .prdSelect select, #section .container .bwrite_container .board_form .board_table .first #subject {
	width:45%;
	max-width: 390px;
	min-width: 200px;
    height: 28px;
    padding: 3px;
	border: 1px solid #d5d5d5;
	color: #353535;
    vertical-align: middle;
	line-height: 1.5;
	text-align:center;
	border-radius: 0px;
	
	-webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
	background-color: white;
    cursor: default;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}
#section .container .bwrite_container .board_form .prdSelect select {
	width:35%;
	max-width: 290px;
	min-width: 100px;
	margin-left:8px;
}
#section .container .bwrite_container .board_form .board_table input {
	min-width: 200px;
	padding: 2px 2px 2px 4px;
    border: 1px solid #d9d9d9;
    color: #202020;
	margin: 0;
	font-size:0.9em;
	line-height: 1.5;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}
#section .container .bwrite_container .board_form .board_table input[type=radio]{
	border: 0;
    width: 13px;
	min-width:13px;
    height: 13px;
    margin: 0 3px 0 0;
    background: none;
    vertical-align: middle;
}
#section .container .bwrite_container .board_form .board_table .content_cont {
	width: 100%;
    height: 186px;
    display: block;
	margin: 0;
    padding: 0;
}
#section .container .bwrite_container .board_form .board_table .content_cont textarea{
    width: 100%;
    height: 186px;
    border: 0px none;
    clear: both;
    font-size: 9pt;
    font-family: gulim;
    margin: 0px;
    padding: 0px;
    resize: none;
	color: #202020;
	line-height: 1.5;
	vertical-align: middle;
}
#section .container .bwrite_container .board_form .btnArea {
	overflow: hidden;
    margin: 20px 0 50px;
    text-align: right;
    font-size: 1%;
    line-height: 1%;
	padding: 0;
}
#section .container .bwrite_container .board_form .btnArea .left{
	float: left;
    margin: 0 0 0 3px;
}
#section .container .bwrite_container .board_form .btnArea .left .list_btn{
	display: inline-block;
    width: 98px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #333;
    border: 1px solid #ddd;
    border-color: #ddd;
	font-weight:bold;
}
#section .container .bwrite_container .board_form .btnArea a {
	vertical-align: middle;     
	text-align: right;
    font-size: 1%;
    line-height: 1%;
	font: 0.75em; 
}
#section .container .bwrite_container .board_form .btnArea .register_btn, #section .container .bwrite_container .board_form .btnArea .cancel_btn{
	display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #2b2b2b;
	font-weight:bold;
}
#section .container .bwrite_container .board_form .btnArea .register_btn{
    border: 1px solid #2b2b2b;
    border-color: #2b2b2b;
}
#section .container .bwrite_container .board_form .btnArea .cancel_btn{
	
    color: #333;
    border: 1px solid #ddd;
    border-color: #ddd;
	background:#fff;


}
@media screen and (max-width:1080px ) {
    #section .container .bwrite_container .morebox{ margin:0px; margin-top:40px;}
	#section .container .bwrite_container .board_form { padding-top: 40px;}
} 
@media screen and (max-width:576px) {	
	#section .container .bwrite_container .morebox{ margin-top:0px;}
	#section .container .bwrite_container .board_form .prdSelect select { font-size:11px;}
	#section .container .bwrite_container .board_form .prdSelect a {float:unset; margin-bottom:8px;}
	#section .container .bwrite_container .board_form .prdSelect select {width:auto; margin-left:0px; margin-right:2px;}
	#section .container .bwrite_container .board_form .prdSelect .item_script { text-align:center;}
}

@media screen and (max-width:768px ) {
	#section .container .bwrite_container .board_list td { padding: .2rem;}
	
	
}
