.clear {clear:both;}
.s_red {color:red; vertical-align: middle;}
#section .container .border_view_container { position:relative; padding-left:10px; padding-right:10px; margin-bottom:69px;}
#section .container .border_view_container .board_list a, #section .container .border_container .board_write_btn a { cursor:pointer;}
#section .container .border_view_container .morebox { margin-top:98px;}
#section .container .border_view_container .board_list{
	margin:0 auto;
	text-align: center;
	padding-top:49px;
	font-size:12px;
}

#section .container .border_view_container .board_list td { vertical-align:middle; padding:.45rem;    border-bottom:  2px solid #dee2e6;}
#section .container .border_view_container .board_list .board_table th { border-bottom: 1px solid #dee2e6;}

#section .container .border_view_container .board_list .thumb {padding:4px;}



#section .container .border_view_container .board_list .content_cont {
	width: 100%;
    height: 400px;
    border: 1px solid #dee2e6;
    display: block;
	margin: 0;
    padding: 0;
    box-sizing: unset;
}
#section .container .border_view_container .board_list .content_cont textarea{
    width: 100%;
    height: 400px;
    border: 0px none;
    clear: both;
    font-size: 9pt;
    font-family: gulim;
    margin: 0px;
    padding: 10px;
    resize: none;
	color: #202020;
	line-height: 1.5;
	vertical-align: middle;
}


#section .container .border_view_container .board_list .btnArea {
	overflow: hidden;
    margin: 20px 0 50px;
    text-align: right;
    font-size: 1%;
    line-height: 1%;
	padding: 0;
}

#section .container .border_view_container .board_list .btnArea a {
	vertical-align: middle;     
	text-align: right;
    font-size: 1%;
    line-height: 1%;
	font: 0.75em; 
}
#section .container .border_view_container .board_list .btnArea .reple_btn, #section .container .border_view_container .board_list .btnArea .list_btn{
	display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #2b2b2b;
	font-weight:bold;
}
#section .container .border_view_container .board_list .btnArea .list_btn{
	
    color: #333;
    border: 1px solid #ddd;
    border-color: #ddd;
	background:#fff;


}

@media screen and (max-width:1080px ) {
    #section .container .border_view_container .morebox{ margin:0px; margin-top:40px;}
	#section .container .border_view_container .board_list { padding-top: 40px;}
} 
@media screen and (max-width:576px) {	
	    #section .container .border_view_container .morebox{ margin-top:0px;}

}

@media screen and (max-width:768px ) {
	
	#section .container .border_view_container .board_list td { padding: .2rem;}
	#section .container .border_view_container .board_list .wdate {font-size:11px}
	
}
