.pointMain {
    font-size: 2.6em!important;
    font-weight: 800!important;
    margin-bottom: 50px!important;
}


/* slide size */
.article_slide{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 120px;
  } 
/* MainPage container */
html, body {
    position: relative;
}
div.article_{
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 10px;
}
div.article_ h2{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 30px;
}
div.itemrows{
    display: flex;
    justify-content: space-between;
}
div.item{
    width: 23%;
}
    div.arrive{
        background-color: #f8f8f8;
        padding: 3% 5%;
		margin-bottom: 20px;
    }
    div.arrive.itemrows{
        margin-left: 20px;
        margin-right: 20px;
    }
    div.arrive h2{
        text-align: center;
        cursor: text;
    }

div.item #imagebox .itemimg{
    width: 100%;
    height: auto;
    cursor: pointer;
}
div.item span.text{
    display: inline-block;
    overflow: hidden;
    width: 98%;
    line-height: 1.5em;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    margin-top: 3px;
    padding-left: 3px;
    font-weight: bold;
}
div.item span.text strong{
    cursor: pointer;
}
.itemshop{
    font-weight: normal;
}

/* 구분선 */
.morebox{
    width: 100%;
    height: 21px;
    position: relative;
    background-color: #ffffff;
    margin-top: 50px;
}
#centerline{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 10px;
    background-color: #efefef;
    z-index: 1;
}
#textbox{
    background-color: #ffffff;
    width: 150px;
    height: 100%;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    z-index: 10;
    text-align: center;
}
#textbox .moretext{
    color: #af0000;
}
#textbox .itemtype{
    color: black;
    text-transform: uppercase;
}
/* 구분선 중 더보기 */
.morebox #textbox>span{
    cursor: pointer;
}



/* hover////////////////////// */



.item #imagebox{
  position: relative;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
  width: 100%;
}

.item #imagebox .itemimg{ /* 이미지 */
    width: 100%;
    cursor: pointer;
}

.item #imagebox:hover .caption{
  position: relative;
  opacity: 1;
  transform: translateY(-40px);
  z-index: 100;
}

/* / */

.item #imagebox .caption{
    position: absolute;
    opacity: 0;
    transition:all 0.15s ease-in-out;
    
    width: 100%;
  }
.btn-secondary {
    height: 40px;
    width: 100%;
    z-index: 5;
    position: absolute;

    display: block;
    text-align: center;
    background: #ed2553;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.animate-like {
    animation-name: likeAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.65s;
}

@keyframes likeAnimation {
  0%   { transform: scale(5); }
  100% { transform: scale(1); }
}    

/* hover//////////////////끝 */
@media screen and ( max-width:1080px ) {


}
@media screen and ( max-width:768px ) {

}


@media screen and (max-width:576px) {
    .modal-content{
        width: 80%!important;
    }
    .article_slide{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
        height: 300px;
    }
    div.arrive{
        padding: 50px 30px;
    }
    div.article_ h2{
        font-weight: normal;
        text-transform: capitalize;
        font-size: 2.0em;
        margin-bottom: 15px;
    }
    div.itemrows{
        flex-wrap : wrap;
    }
    div.item{
        width: 45%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .morebox{
        margin-top: 0px;
    }

    .sildeimg{
        opacity: 0;
    }
    .sildeimg01{
        background-image: url("../images/small_01.jpg")!important;
        background-size: 100% 100%!important;
    }
    .sildeimg02{
        background-image: url("../images/small_02.jpg")!important;
        background-size: 100% 100%!important;
    }
    .sildeimg03{
        background-image: url("../images/small_03.jpg")!important;
        background-size: 100% 100%!important;
    }
    .sildeimg04{
        background-image: url("../images/small_04.jpg")!important;
        background-size: 100% 100%!important;
    }


}


