.notice_table{            
    width:100%;            
    text-align:center;                        
}        
.morebox{
    margin: 64px 0 50px 0;
}
.notice_table tr{
    border-bottom:1px solid gray;            
}
.notice_table_title{
    text-align:left;
    padding-left: 8px;
}        
.notice_table td{
    padding: 10px 0px;
    border-bottom: 1px solid #444444;
}
.notice_table th{
    padding: 10px 0px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}
.notice_table tbody tr:hover{background: lightgray;}

.table_accrodion_content1 td {
    text-align:left;
    padding-left: 8px;
    transition: display 0.5s ease-in;
}
.border_container{
    margin:0px 10px;
}        
#section .container{ width:100%; margin:0px;}
/* @media screen and (max-width:768px ) {
    #section .container{ width:100%;
    margin : 0px}
}      */