.pagetitle{
  width: 100%;
  height: 21px;
  position: relative;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 20px;

}
#centerline{
  width: 100%;
  height: 1px;
  position: absolute;
  top: 10px;
  background-color: #efefef;
  z-index: 1;
}
#textbox{
  background-color: #ffffff;
  width: 150px;
  height: 100%;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  z-index: 10;
  text-align: center;
}

.pagetitle{
  width: 100%;
  position: relative;
  background-color: #ffffff;
}

.pagetitle .itemtype{
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;

  color: #444444;
}
/* /////////////////////////카테고리 끝/////////////////////////////////// */


/* 그리드 컨테이너~~~ */
div.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;

  width: 100%;

  margin-bottom: 70px;
}

div.grid-container .grid-item {
  width: 100%;
  box-sizing: border-box;

  border-bottom: 0.2px solid rgb(209, 209, 209);
  font-size: 30px;

  margin-top: 30px;
}

/* hover////////////////////// */

div.grid-container .grid-item a img{ /* 이미지 */
  width: 100%;
  cursor: pointer;
}

.grid-item div#hover-div{
  position: relative;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.grid-item div#hover-div:hover .caption{
  opacity: 1;
  transform: translateY(-40px);
}


/* / */


.grid-item .caption{
  position: absolute;
  opacity: 0;
  transition:all 0.15s ease-in-out;
  
  width: 100%;
}
.grid-item .btn-secondary{
  height: 40px;
  width: 100%;
  z-index: 5;
  position: absolute;
  
  display: block;
  text-align: center;
  background: #ed2553;
  padding-top: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

.animate-like {
  animation-name: likeAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

@keyframes likeAnimation {
0%   { transform: scale(5); }
100% { transform: scale(1); }
}

/* hover//////////////////끝 */


/* 아이템 정보 */
div.grid-container .grid-item .item-info p{
  font-size: 11px;
  font-weight: bold;

  margin: 0px 2px 2px 2px;
}

div.grid-container .grid-item .item-info #item-name{ /* 상품명 */
  font-size: 14px;
  color: black;
  cursor: pointer;
}
div.grid-container .grid-item .item-info #item-price{ /* 가격 */
  font-size: 12px;
  color: #5c5c5c;

  position: relative;
}

div.grid-container .grid-item .item-info #shop-name{ /* 쇼핑몰 이름 */
  color: gray;
  cursor: pointer;
}



@media screen and (max-width:1080px ) { /* 웹 */
  #section .container, #header .mypage {width: 100%; }
}  

@media screen and (max-width:768px ) { /* 태블릿 */
  div.grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:576px) { /* 모바일 */

  div.pagetitle{
    padding: 0;
    margin-top: 15px;
  }

  div.grid-container{
    grid-template-columns: repeat(2, 1fr);
  }  
}





/* /////////////////////////그리드 컨테이너 끝/////////////////////////////////// */


